@import "./globalCssVariables.scss";

#home {
  text-align: center;
  margin-top: 0px;

// #home {
//   height: 100%;
//   width: 80%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   text-align: center;
//   min-height: 60vh;
//   align-self: center;
// }
}

ol {
  text-align: start;
}

// #left li,
// #right li {
//   margin-bottom: 4%;
//   font-family: Arial;
//   letter-spacing: -1;

// }

.carousel-container {
  position: relative;
  display: flex;
  // flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1.0;
  width: 100%;
  // background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(19, 255, 110, 0.9)), changeBackground;

  animation: changeBackground 30s infinite; /* Adjust the duration as needed */
}

@keyframes changeBackground {
  0% {
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.522), rgba(0, 0, 0, 0.7)),
      url("https://media.istockphoto.com/id/967099380/photo/providence-rhode-island-usa-river-skyline.webp?b=1&s=170667a&w=0&k=20&c=dRNhatoRgYBIwh-COD8BcwRnooXtxm4Bj_Aftu4HLsQ=");
  }
  25% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.522), rgba(0, 0, 0, 0.7)),
      url("https://live.staticflickr.com/7338/15766199013_88168409b5_b.jpg");
  }
  50% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.522), rgba(0, 0, 0, 0.7)),
      url("https://cdn.pixabay.com/photo/2017/10/09/02/48/rhode-island-2832284_1280.jpg");
  }
  75% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.522), rgba(0, 0, 0, 0.7)),
      url("https://images.pond5.com/4k-ultrahd-timelapse-providence-rhode-footage-074753659_iconl.jpeg");
  }
  100% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.522), rgba(0, 0, 0, 0.7)),
      url("https://media.istockphoto.com/id/1256404841/photo/autumn-in-providence-rhode-island.jpg?s=612x612&w=0&k=20&c=-M6xtbIHREZbQJVfnXjegAarp8RY58LY3eGMhHYq2nQ=");
  }
}

.carousel-controls {
  position: absolute;
  top: 50%; /* Center vertically */
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  width: 100%;
}
.carousel-controls button {
  font-size: 30px;
  cursor: pointer;
  color: #94e2f0;
  background-color: transparent; 
  border: none; 
  font-weight: bold;
  transition: color 0.3s ease-in-out, 
  font-weight 0.3s ease-in-out;

  &:hover {
    color: #06a6c3; 
    font-weight: bold; 
  }
}


#title-description {
  font-size: 1.5rem;
  font-family: Arial;
  color: #FFBD59;
  // padding-right: 10%;
  // padding-left: 10%;
  // letter-spacing: -0.5px;
}

#title { //this is also where the box/carousel is designed
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: 5000px;  
    text-align: center;
    background-color: transparent;
    width: 100%;
    font-family: Anton;
    font-size: 30px;
    font-weight: light;
    color: #ffffff;
    // align-self: center;
    // border-radius: $big-border-radius;
    // margin: 1.5% 3%;
    padding-top: 9%;
    padding-bottom: 20%;
    // box-shadow: $box-shadow;
  }


.blue-text {
  color: #07BAD9;
  display: inline; 
  font-weight: bold;

}

.rest-of-paragraph {
  display: inline; 
  
}


// .first-text {
//   color: black;
//   display: inline; 
// }

// .red-text{
//   color: rgb(255, 0, 0);
//   display: inline; 
//   font-weight: bold;
// }




#sub-items-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15%;
  align-items: center;
  margin: 4% 6%;
}


#why {
  display: flex;
  // width: 100%;
  flex-direction: row;
  // justify-content: space-between;
  align-items: center;
  font-family: Anton;
  background-color: #FFBD59; 
  font-size: 70px;
  padding-left: 10%;

}


#answer {
  font-size: 1.5rem;
  font-family: Arial;
  color: #000000;
  padding-right: 10%;
  padding-left: 10%;
  // letter-spacing: -0.5px;
}



// #left,
// #right {
//   border-radius: $big-border-radius;
//   padding: 3%;
//   width: 30%;

// }

// #left h2 {
//   font-family: Anton;;
// }

// #right h2 {
//   font-family: Anton;;
// }

// #left {
//   background-color: #07BAD9;
// }

// #right {
//   background-color: $yellow-background-color;
// }

/* HomeSlider.css */

// .slider-container {
//   position: relative;
//   height: 200px; /* Set the desired height */
//   overflow: hidden;
// }

// .slide {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   opacity: 0;
//   transition: opacity 1s ease-in-out;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

// .slide.active {
//   opacity: 1;
// }

// #app-title {
//   margin: 0;
// }
