@import "./globalCssVariables.scss";

#home {
  text-align: center;
  margin-top: 20px;
}

ol {
  text-align: start;
}

#left li,
#right li {
  margin-bottom: 4%;
}

.carousel-container {
  position: relative; /* Add relative positioning to the container */

  display: flex;
  flex-direction: column;
  align-items: center;
  // padding-bottom: 1000px;

}

.carousel-controls {
  position: absolute;
  top: 50%; /* Center vertically */
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  width: 100%;
}
.carousel-controls button {
  font-size: 30px;
  cursor: pointer;
  color: #94e2f0;
  background-color: transparent; 
  border: none; 
  font-weight: bold; /* Make the text bold */
  transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out;

  &:hover {
    color: #06a6c3; 
    font-weight: bold; 
  }
}

#left,
#right {
  flex: 1;
}

#title-description {
  font-size: 1.5rem;
  font-family: Arial;
  padding-right: 10%;
  padding-left: 10%;
  letter-spacing: -0.5px;


}

#title { //this is also where the box/carousel is designed
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Anton;

  align-items: center; 
  text-align: center;
  background-color: $secondary-background-color;
  width: 90%;
  // font-size: 1.5rem;
  font-weight: light;
  color: #000;

  text-align: center;
  font-size: 30px;
  font-style: normal;
  // font-weight: 400;
  line-height: 24px; /* 40% */
  letter-spacing: -1.5px;


  align-self: center;
  border-radius: $big-border-radius;
  margin: 1.5% 3%;
  padding-top: 9%;
  padding-bottom: 30%;
  box-shadow: $box-shadow;
}

.blue-text {
  color: #07BAD9;
  display: inline; 
  font-weight: bold;

}

.rest-of-paragraph {
  display: inline; // Make it inline
}


.first-text {
  color: black;
  display: inline; 
}

.red-text{
  color: rgb(228, 5, 5);
  display: inline; 
  font-weight: bold;
}



#home {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 60vh;
  align-self: center;
}

#sub-items-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15%;
  align-items: center;
  margin: 4% 6%;
}

#left,
#right {
  border-radius: $big-border-radius;
  padding: 3%;
  width: 30%;
}

#left {
  background-color: $secondary-background-color;
}

#right {
  background-color: $yellow-background-color;
}

/* HomeSlider.css */

// .slider-container {
//   position: relative;
//   height: 200px; /* Set the desired height */
//   overflow: hidden;
// }

// .slide {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   opacity: 0;
//   transition: opacity 1s ease-in-out;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

// .slide.active {
//   opacity: 1;
// }

// #app-title {
//   margin: 0;
// }
